extends base.pug

block head
    link(rel="stylesheet", href="/bootstrap/bootstrap.min.css")

block title
    title Modificar
block container
    .container.mt-5
        h1 Modificar Clientes
        hr
        form(action="/modificarClientes"+data.id method="post")
                
            .form-group.mt-3#id
                label#id(for="id" ) Id
                input#id.form-control(  type="text" name="id" value= `${data.id }`)

            .form-group.mt-3
                label(for="nombre" ) Nombre
                input#nombre.form-control( type="text" name="nombre" value= `${data.nombre}`) 
                
            .form-group.mt-3
                label(for="apellido" ) Apellido
                input#apellido.form-control( type="text" name="apellido" value= `${data.apellido}`)

            .form-group.mt-3
                label(for="direccion" ) Direccion
                input#direccion.form-control( type="text" name="direccion" value= `${data.direccion}`)

            .form-group.mt-3
                label(for="telefono" ) Telefono
                input#telefono.form-control(  type="text" name="categoria", value= `${data.telefono}`)

            .form-group.mt-3
                .d-grid.gap-2
                    button.btn.btn-primary Modificar
          
